.card_wrapper {
    background: white;
    box-shadow: 0 0 8px  lightgray;
    max-width: 580px;
    width: 95%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: 18%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}



