.cardfoot_wrapper {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.cardfoot_socials {
    margin-left: 20px;
    align-self: flex-end;
}

.cardfoot_socials * {
    width: 30px;
    margin: 2px;
    transition: all .3s ease;
}

.cardfoot_socials *:hover {
    transform: scale(.9);
}

.cardfoot_nxtbtn {
    margin-right: 50px;
}

.cardfoot_nxtbtn button {
    border-radius: 50px;
    border: 3px solid #333333;
    padding: 2px 4px;
    background: none;
    transition: border .2s ease-in-out;
}

.cardfoot_nxtbtn button img {
    width: 45px;
    transition: all .3s ease;
}

.cardfoot_nxtbtn button img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.cardfoot_nxtbtn button:hover {
    border: 1px solid #333333;
}

@media (max-width: 340px) {
   .cardfoot_wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   }

   .cardfoot_nxtbtn {
    margin: 20px 0 40px 0;
   }

   .cardfoot_socials {
    margin: 0;
    align-self: center;
   }
}